<ul class="list-group">
    <li 
        class="list-group-item"
        routerLink="/index"
        routerLinkActive="active">
        Pets List
    </li>
</ul>
<hr>

<h2>Search a Pet</h2>
<hr>

<ul class="list-group">
    <li 
        class="list-group-item"
        routerLink="/search/name"
        routerLinkActive="active">
        Search by Name
    </li>
    <li 
        class="list-group-item"
        routerLink="/search/type"
        routerLinkActive="active">
        Search by Type
    </li>
    <li 
        class="list-group-item"
        routerLink="/search/type-gender"
        routerLinkActive="active">
        Search by Gender And Type
    </li>
</ul>